<div class="bg-light">
    <img src="https://img.icons8.com/external-others-inmotus-design/67/000000/external-C-alphabet-others-inmotus-design-13.png"/>
    <br>
    <p>menu:
    </p>
    <ul>
    <li><a href="#">
        <span> <img src="https://img.icons8.com/material-rounded/20/000000/home.png" alt=""></span>
        <span> Home</span>
    </a></li>
    <li><a href="#">
        <span> <img src="https://img.icons8.com/ios-glyphs/20/000000/messages-mac.png" alt=""></span>
        <span> Messages</span>
    </a></li>
    <li><a href="#">
        <span> <img src="https://img.icons8.com/material-rounded/24/000000/user.png" alt=""></span>
        <span> Profile</span>
    </a></li>
    <li><a href="#">
        <span> <img src="https://img.icons8.com/external-inkubators-glyph-inkubators/20/000000/external-bookmark-user-interface-inkubators-glyph-inkubators.png" alt=""></span>
        <span> Save Post</span>
    </a></li>
    <li><a href="#">
        <span> <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/20/000000/external-setting-essentials-pack-tanah-basah-glyph-tanah-basah.png" alt=""></span>
        <span> Sittings</span>
    </a></li>
</ul>
</div>