.container {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 98vh !important;
    margin-top: 1vh !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.041);
}

main {
    background-color: white;
}

.logo{
    display: flex;
    margin-bottom: 20px;
}

.logo img{
    padding: 10px;
    border-radius: 100%;
    box-shadow: -6px 4px 8px #c4ccfdb3;

}

.logo-name{
    overflow: hidden;
    display: flex;
    align-items: center;
}

.logo-name p{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #bb00ff;
    font-weight: bold;
    font-size: 1.5rem;
}
.logo-name p span{
    text-decoration: underline
}

li {
    margin-bottom: 30px;
    font-weight: bold;
}

li a {
    text-decoration: none;
    color: gray;

}

.nav-item {
    padding: 8px 10px;

    svg {
        color: rgb(92, 92, 92)
    }
}

.router_active {
    box-shadow: 1px 1px 6px #6e6e6e37;

    border: none;
}

.router_active a {
    color: black;
    font-size: 1rem;

}

.router_active svg {
    color: #bb00ff !important;
}

.menu {
    font-size: 1.25rem;
}