<nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2 rounded-pill " type="search" placeholder="Search" aria-label="Search">

        <button class="btn btn-outline-success rounded-circle p-lg-2 m-lg-2" type="submit" ><img src="https://img.icons8.com/windows/32/000000/upload-to-cloud.png"/></button> 
        <button class="btn btn-outline-success rounded-circle p-lg-2 m-lg-2" type="submit" ><img src="https://img.icons8.com/windows/32/000000/upload-to-cloud.png"/></button>       
      </form>
    </div>
  </nav>
                 <ul class="navbar-nav ms-auto">
                  <li>
                    <span><B>Suggetions For You</B></span>  <span>See All </span> 
                  </li>
                  <li class="nav-item p-lg-3">
                    <a class="nav-link active" aria-current="page" href="#">
                      <span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
                      <span> Home</span>
                      <span> <button type="button" class="btn btn-primary"> Primary</button>
                      </span>
                    </a>
                  </li>
                  <li class="nav-item p-lg-3">
                    <a class="nav-link" href="#"><span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
                      <span> Home</span>
                      <span> <button type="button" class="btn btn-primary"> Primary</button>
                      </span></a>
                  </li>
                  <li class="nav-item p-lg-3">
                      <a class="nav-link" href="#"><span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
                        <span> Home</span>
                        <span> <button type="button" class="btn btn-primary"> Primary</button>
                        </span></a>
                    </li></ul>