<section class="sidebarContainer">
<!--  start search content -->
  <div class=" p-lg-3">
    <form class="row" role="search">
      <div class="col-7 p-lg-3">
        <div class="searchComponent ">
          <input class="form-control rounded-pill p-lg-3  " type="search" placeholder="Search " aria-label="Search">
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
      </div>
 <!-- start buttons -->
      <div class="col-5 row p-lg-3">
        <div class="col-12 buttons d-flex">
          <button class="" type="submit">
            <i class="fa-solid fa-bell"></i>
          </button>

        
          <button class="" type="submit">
            <i class="fa-solid fa-cloud-arrow-up"></i>
          </button>
        </div>
      </div>
 <!-- end buttons -->
    </form>
  </div>
<!--  end search content -->

<!--start suggestion of text-->
  <div class="suggestion d-flex justify-content-between">
    <h4>Suggestions For You</h4>
    <span> See All</span>
  </div>
  <!-- end suggestion of text--->


<!-- following start-->
  <ul class="navbar-nav ms-auto">
    <li class="nav-item" *ngFor="let item of side">
      <div class="row follow">
        <div class="col-2 ">
          <img [src]="item.imgs" class="rounded-circle" alt="Cinque Terre">
        </div>
        <div class="col-5 ">
          <p>{{item.names}}</p>
          <p>{{item.email}}</p>
        </div>
        <div class="col-5">
          <button HighLight type="button" class="btn btn-primary"> follow </button>
        </div>
      </div>
    </li>
  </ul>
  <!-- following end-->
</section>
