<nav class="navbar bg-light">
    <div class="container-fluid">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
<ul>
    <li>
      <span><B>Suggetions For You</B></span>  <span>See All </span> 
    </li>
    <li><a href="#">
        <span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
        <span> Home</span>
        <span> <button type="button" class="btn btn-primary"> Primary</button>
        </span>
        <li><a href="#">
            <span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
            <span> Home</span>
            <span> <button type="button" class="btn btn-primary"> Primary</button>
            </span> <li><a href="#">
                <span> <img src="assets/1.webp" class="rounded-circle" alt="Cinque Terre" width="50" height="50"></span>
                <span> Home</span>
                <span> <button type="button" class="btn btn-primary"> Primary</button>
                </span>
       
  