<section class="Feeds">

  <!-- Filter Start -->
  <div class="filter d-flex justify-content-between">
    <span class="feed-title align-items-center col-2">Feeds</span>
    <ul class="nav justify-content-end align-items-center">
      <li class="nav-item">
        <a class="nav-link" #All name="All" aria-current="page" href="#" (click)="filteration(All)">All</a>
      </li>
      <li class="nav-item">
        <a #Following name="Following" class="nav-link" href="#" (click)="filteration(Following)">Following</a>
      </li>
      <li class="nav-item">
        <a #Newest name="Newest" class="nav-link" href="#" (click)="filteration(Newest)">Newest</a>
      </li>
      <li class="nav-item">
        <a #Popular name="Popular" class="nav-link" href="#" (click)="filteration(Popular)">popular</a>
      </li>

    </ul>
  </div>
  <!-- Filter End -->

  <!-- Cards Start-->
  <div class="card-container col-12 m-1">


    <div class="card col-12 col-lg-5 " *ngFor="let item of showedCart">

      <!-- Card Details -->
      <div >

        <img [src]="item.coverImg" class="card-img-top" alt="img">


        <div class="card-body d-flex align-items-center justify-content-between">

          <div class="left-side d-flex justify-content-start align-items-center">
            <img [src]="item.profileImg" class="rounded-circle col-4 " alt="Cinque Terre">
            <p class="p-1">{{item.name}}</p>
          </div>


          <div class="right-side d-flex justify-content-between align-items-center">
            <div class="likes d-flex">
              <i class="fa-solid fa-heart"></i>
              <p>{{item.loveNumber}}</p>
            </div>
            <div class="comments d-flex">
              <i class="fa-solid fa-comment-dots"></i>
              <p>{{item.comment}}</p>
            </div>
          </div>

        </div>


      </div>


    </div>

  </div>
  <!-- Cards End-->


</section>