.Feeds{
    width: 100% !important;
    height: 100%!important;
    margin-top: 0vh !important;
}
.row{
    align-items: center !important;
    width:100%;

}
.col{
    text-align: center !important;

    width:50%;
}
